In [1]:
import matplotlib.pyplot as plt
import warnings

warnings.simplefilter('ignore', FutureWarning)
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = (16,6)
plt.rcParams['figure.dpi'] = 300

In [2]:
import pandas as pd 
from pandas_datareader import data as wb
import seaborn as sns
from fbprophet import Prophet

ModuleNotFoundError: No module named 'fbprophet'

In [3]:
# download daily prices
df = wb.DataReader('RBS.L',data_source='yahoo',start='2011-1-1')
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2011-01-04,412.500000,403.000000,405.000000,406.799988,10912708.0,354.905823
2011-01-05,410.000000,398.000000,407.000000,409.500000,9658431.0,357.261383
2011-01-06,416.500000,402.000000,405.399994,404.899994,11210095.0,353.248199
2011-01-07,404.100006,399.399994,404.000000,401.000000,9055659.0,349.845703
2011-01-10,404.700012,393.799988,400.799988,395.000000,6564457.0,344.611115

In [4]:
df.reset_index(drop=False, inplace=True)
df= df[['Date','Adj Close']]
df.head()

        Date   Adj Close
0 2011-01-04  354.905823
1 2011-01-05  357.261383
2 2011-01-06  353.248199
3 2011-01-07  349.845703
4 2011-01-10  344.611115

In [5]:
df.rename(columns={'Date':'ds','Adj Close':'y'},inplace=True)
df.head()

          ds           y
0 2011-01-04  354.905823
1 2011-01-05  357.261383
2 2011-01-06  353.248199
3 2011-01-07  349.845703
4 2011-01-10  344.611115

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2381 entries, 0 to 2380
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      2381 non-null   datetime64[ns]
 1   y       2381 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 37.3 KB

In [ ]:
# split thne series into the training and test sets
train_indices = df.ds.apply(lambda x:x.year).values < 2011
df_train = df.loc[train_indices].dropna()
df_test = df.loc[~train_indices].reset_index(drop=True)

In [ ]:
pip install fbprophet

In [ ]:
model_prophet = Prophet(seasonality_mode='additive')
model_prophet.add_seasonality(name='monthly', period=30.5, fourier_order=5)
model_prophet.fit(df_train)

In [ ]:
df_future = model_prophet.make_future_dataframe(periods=365)
df_pred = model_prophet.predict(df_future)
model_prophet.plot(df_pred)

In [ ]:
model_prophet.plot_components(df_pred)